*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:whitesmoke
}
.nav{

    width:100%;
    height:4.7rem;
    background-color: #1e1f2d;
    color:white; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;

}
.portable-links{
    list-style: none;
    padding-right:8px;
}
.portable-links li a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    display: flex;
    align-items: center;
    gap:8px;
    transition: all .2s ease-in-out;
    /* font-weight: bold; */

}
.portable-links li a:hover{
    color:olivedrab;
}
.portable-links li img{
    height:30px;
    width: 30px;
}
.portable-links li{
    margin-right:10px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap:15px;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    display: flex;
    align-items: center;
    gap:3px;
    transition: all .2s ease-in-out;
    /* font-weight: bold; */

}
.nav-links li a:hover{
    color:olivedrab;
}
.nav-links li a:visited{
    color:white;
}
.nav-links li a img{
    width:15px;
    height:15px;
}